@use 'colors';

$page-frame: 144rem; // Standard desktop
$padding-page-frame: 1.6rem;
$base-border-radius: 0.6rem;
$content-container-width: 80rem;
$toolbar-height: 5rem;

$border-link-thickness: 0.3rem;

// Breakpoints
$breakpoint-tablet-portrait: 768;
$breakpoint-tablet-landscape: 1024;
$breakpoint-desktop: 1440;

// z-indexes
$z-index-base: 1;
$z-index-close-button: 2;
$z-index-toolbar: 3;

// Spacings
$one-third: 33.3333%;
$two-thirds: 66.6667%;

$none: none;
