@use 'colors';

// Font sizes
$font-size-xs: 1rem;
$font-size-s: 1.2rem;
$base-font-size: 1.4rem;
$font-size-md: 1.6rem;
$font-size-md-lg: 1.8rem;
$font-size-lg: 2rem;
$font-size-lg-xl: 2.2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 2.8rem;
$font-size-xxxl: 3.2rem;
$font-size-presentation: 6.2rem;

// Text colors
$color-text-default: colors.$color-black;

// Font family
$font-primary: roboto, sans-serif;
$font-secondary: serif, sans-serif;

// Letter spacing
$letter-spacing-md: 0.01rem;

// Font weights
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Line heights
$base-line-height: 1;
$line-height-m: 1.25;
$line-height-l: 1.75;
