@use '../../../styles/utils/index' as utils;

.base-button {
  @include utils.base-button-styles;

  &--small {
    font-size: utils.$font-size-s;
  }

  &--medium-large {
    font-size: 1.6rem;
    padding: 1.2rem;
  }

  &--large {
    border-radius: 0.9rem;
    font-size: utils.$font-size-lg-xl;
    padding: 1.2rem;
  }

  &--as-link {
    background: utils.$none;
    border: utils.$none;
    padding: 0;
    color: utils.$color-primary;

    &:focus {
      outline: utils.$color-black solid auto;
    }

    &:active,
    &:hover {
      background: utils.$none;
      color: utils.$color-primary;
    }

    &:disabled {
      background: utils.$none;
      color: utils.$color-grey-850;
    }
  }

  &--full-width {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
