@use '../../../styles/utils/index' as utils;

.base-button {
  @include utils.base-button-styles;

  &:focus {
    outline: utils.$color-black solid auto;
  }

  &:active,
  &:hover {
    background-color: utils.$color-focus;
    border-color: utils.$color-primary;
    color: utils.$color-primary;
  }

  &:disabled {
    background-color: utils.$color-grey-850;
    border-color: utils.$color-grey-850;
    cursor: not-allowed;
    pointer-events: none;
  }

  &--small {
    font-size: utils.$font-size-s;
  }

  &--large {
    border-radius: 0.9rem;
    font-size: utils.$font-size-lg-xl;
    padding: 1.2rem;
  }
}
