@use '../variables/colors' as colors;
@use '../variables/typography' as typography;
@use '../variables/global' as global;

@mixin base-button-styles() {
  align-items: center;
  background-color: colors.$color-primary;
  border-radius: global.$base-border-radius;
  border: global.$base-border-height solid colors.$color-primary;
  color: colors.$color-white;
  cursor: pointer;
  display: flex;
  font-family: typography.$font-primary;
  font-size: typography.$base-font-size;
  font-weight: typography.$font-weight-bold;
  letter-spacing: typography.$letter-spacing-md;
  line-height: 1.15;
  padding: 1rem;
  text-decoration: none;
  width: max-content;

  &:focus {
    outline: colors.$color-black solid auto;
  }

  &:active,
  &:hover {
    background-color: colors.$color-focus;
    border-color: colors.$color-primary;
    color: colors.$color-primary;
  }

  &:disabled {
    background-color: colors.$color-grey-850;
    border-color: colors.$color-grey-850;
    cursor: not-allowed;
    pointer-events: none;
  }
}
