@use '../variables/index' as variables;

@mixin flex-display($direction: null, $align-center: null, $max-width: true) {
  display: flex;
  flex: 1;

  @if $max-width {
    max-width: 100%;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $align-center {
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}

@mixin reset-list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin break-text() {
  overflow-wrap: anywhere;
  word-break: break-word;
}
