@use '../styles/utils/index' as utils;

.home-page {
  @include utils.flex-display(row);

  justify-content: space-between;
  position: relative;

  &__title {
    @include utils.page-title(3.5rem);

    font-size: utils.$font-size-presentation;
    font-weight: bold;
    margin-top: 20rem;
    max-width: 60rem;

    @include utils.respond-to(
      utils.$breakpoint-desktop-vertical,
            max,
            height
        ) {
      margin-top: 10rem;
    }
  }

  &__sub-title {
    display: block;
    font-size: utils.$font-size-xl;
    line-height: utils.$line-height-l;
    max-width: 55rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__image {
    $_this: &;

    border-radius: 3rem;
    height: 42rem;
    object-fit: cover;
    width: 66rem;

    &:first-child {
      margin-top: 15rem;
      object-position: 0 -52rem;
    }

    &:last-child {
      $_position: -10rem;

      left: $_position;
      object-position: 0 -20rem;
      position: relative;
      top: $_position;
    }

    @include utils.respond-to(
      utils.$breakpoint-desktop-vertical,
            max,
            height
        ) {
      &#{$_this}:first-child {
        margin-top: 5rem;
      }
    }
  }

  &__actions {
    margin-top: 8rem;
  }

  &__watermark {
    height: 29rem;
    left: -42rem;
    object-fit: cover;
    object-position: 0 2rem;
    opacity: 0.02;
    position: absolute;
    top: 74rem;
    width: 109rem;

    @include utils.respond-to(
      utils.$breakpoint-desktop-vertical,
            max,
            height
        ) {
      top: 54rem;
    }
  }
}
