@use '../styles/utils/index' as utils;

.home-page {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__title {
    font-family: utils.$font-secondary;
    font-size: utils.$font-size-presentation;
    font-weight: bold;
    margin-bottom: 3.5rem;
    margin-top: 20rem;
    max-width: 60rem;
  }

  &__sub-title {
    display: block;
    font-size: utils.$font-size-xl;
    max-width: 55rem;
    line-height: utils.$line-height-l;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border-radius: 3rem;
    height: 42rem;
    object-fit: cover;
    width: 66rem;

    &:first-child {
      margin-top: 15rem;
      object-position: 0 -52rem;
    }

    &:last-child {
      left: -10rem;
      object-position: 0 -20rem;
      position: relative;
      top: -10rem;
    }
  }

  &__actions {
    margin-top: 8rem;
  }

  &__watermark {
    height: 29rem;
    left: -42rem;
    object-fit: cover;
    object-position: 0 2rem;
    opacity: 0.02;
    position: absolute;
    top: 66rem;
    width: 109rem;
  }
}
