@use '../../styles/utils/index' as utils;

.beers-list-page {
  position: relative;

  &__title {
    @include utils.page-title;
  }

  &__content {
    margin-bottom: 8rem;
    max-width: 60rem;
  }

  &__watermark {
    height: 97rem;
    object-fit: cover;
    opacity: 0.02;
    position: fixed;
    right: -28rem;
    top: 5rem;
    width: 123rem;
  }
}
