@use '../../../styles/utils/index' as utils;

.base-accordion {
  $_this: &;

  @keyframes animate-rotation-forward {
    0% {
      transform: rotateZ(90deg);
    }

    100% {
      transform: rotateZ(270deg);
    }
  }

  @keyframes animate-rotation-back {
    0% {
      transform: rotateZ(270deg);
    }

    100% {
      transform: rotateZ(90deg);
    }
  }

  border-bottom: utils.$base-border-height solid utils.$color-primary;

  &:focus {
    outline: utils.$color-black solid auto;
  }

  &__heading-row {
    @include utils.flex-display(row);

    justify-content: space-between;

    &:active,
    &:hover {
      color: utils.$color-orange-500;
    }
  }

  // To override the default styles on the base-button
  #{$_this}__heading-row {
    &:active,
    &:hover {
      color: utils.$color-secondary;
    }

    width: 100%;
  }

  &__title {
    text-align: left;
  }

  &__chevron {
    font-size: utils.$font-size-lg;
    margin-left: 2rem;
    transform: rotateZ(90deg);

    &--open {
      animation-duration: utils.$base-animation-duration;
      animation-fill-mode: forwards;
      animation-name: animate-rotation-forward;
    }

    &--close {
      animation-duration: utils.$base-animation-duration;
      animation-fill-mode: forwards;
      animation-name: animate-rotation-back;
    }
  }

  &__content {
    $_this: &;

    display: block;
    overflow: hidden;
    transition: max-height utils.$animation-duration-med ease-out;
  }
}
