@use '../../../styles/utils/index' as utils;

.base-card {
  $_this: &;
  $_padding-inner: 1.6rem;
  $_beer-animation-duration: 0.2s;

  @keyframes animate-beers-in {
    0% {
      transform: scale(1) translateY(0);
    }

    100% {
      transform: scale(1.8) translateY(-5rem);
    }
  }

  @keyframes animate-beers-out {
    0% {
      transform: scale(1.8) translateY(-5rem);
    }

    100% {
      transform: scale(1) translateY(0);
    }
  }

  @keyframes fade-beers-in {
    0%,
    99% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @include utils.flex-display(row);

  align-items: center;
  animation-duration: $_beer-animation-duration;
  animation-fill-mode: forwards;
  animation-name: fade-beers-in;
  border-radius: utils.$base-border-radius;
  border: utils.$base-border-height solid utils.$color-primary;
  overflow: hidden;
  position: relative;

  &:active,
  &:hover {
    #{$_this}__image {
      animation-duration: $_beer-animation-duration;
      animation-fill-mode: forwards;
      animation-name: animate-beers-in;
    }

    #{$_this}__title,
    #{$_this}__content,
    #{$_this}__additional-text {
      color: utils.$color-focus;
    }

    #{$_this}__additional-text {
      font-weight: utils.$font-weight-bold;
    }

    background-color: utils.$color-primary;
  }

  &__inner-container {
    @include utils.flex-display(column);

    align-self: flex-start;
    height: 100%;
    justify-content: space-between;
    padding: $_padding-inner;
  }

  &__content-wrapper {
    @include utils.flex-display(column);
  }

  &__image-container {
    align-items: center;
    background-color: utils.$color-focus;
    border-radius: utils.$base-border-radius 0 0 utils.$base-border-radius;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 20rem;

    @include utils.respond-to(utils.$breakpoint-tablet-landscape, max) {
      width: 15rem;
    }

    @include utils.respond-to(utils.$breakpoint-tablet-portrait, max) {
      width: 20rem;
    }

    @include utils.respond-to(utils.$breakpoint-mobile-portrait, max) {
      width: 15rem;
    }
  }

  &__image {
    animation-duration: $_beer-animation-duration;
    animation-fill-mode: forwards;
    animation-name: animate-beers-out;
    object-fit: contain;
    padding: $_padding-inner;
  }

  &__title,
  &__content,
  &__additional-text {
    align-self: flex-start;
    color: utils.$color-primary;
  }

  &__title {
    font-size: utils.$font-size-lg-xl;

    @include utils.respond-to(utils.$breakpoint-tablet-landscape, max) {
      font-size: utils.$font-size-lg;
    }

    @include utils.respond-to(utils.$breakpoint-mobile-portrait, max) {
      font-size: utils.$font-size-md-lg;
    }
  }
}
